body{
  background-color: darkcyan;
  font-family: Arial, sans-serif;
}
h1{
 color: blueviolet;
 font-size: 50px;
}

p{
  color: blue;
  font-size: 25px;
}
img{
  width: 70%;
  height: 70%;
  margin: 20px;
  border: 5px solid darkred
}

.Container{
  width: 80%;
  height: 80%;
  margin: 10px;
  border: 5px solid rebeccapurple;
  background-color: black;
}

.Copa Sudamericana{
  padding: 20px;
}

.Copa Libertadores{
  padding: 20px;
}
